<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LDSplashView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F23F6BA1BD95293004D864D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F23F6CE1BD95293004D864D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F23F6D91BD95293004D864D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
